

.topbtn,.planbtn{
	width: 120px;
	height: 40px;
	background-color: #f50057;
	border-radius: 20px;
	border: none;
	color: white;
	font-size: 18px;
}
.designbtn,.pribtn,.animationbtn{
	width: 150px;
	height: 40px;
	background-color: #f50057;
	border-radius: 20px;
	color: white;
	border: none;
	font-size: 18px;

}

/*header*/
header{
	min-height: 100vh;
	background-image: url(../img/cover6.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	border-bottom: 5px solid #f2f2f2;
}
.header_content{
	margin-top: 20px;
	display: flex;
	
	
}
.header_content_left{
	
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
	min-height: 80vh;
	justify-content: center;

	
}
.primary_button button{
	margin-top: 20px;
}

.header_slogan{
	font-size: 5vw;
	font-weight: bold;
}

/*https*/
.https{
	margin-top: 50px;

}

.https_container{
	width: 90%;
	margin: auto;
	display: flex;
	font-size: 23px;
	line-height: 1.8;
	text-align: center;
	align-items: center;


}
.https_container img{
  margin-right: 20px;
  height: 400px;

}
.https_container_content{
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*responsive*/

.responsive{
	margin-top: 100px;

}

.responsive_container{

	width: 90%;
	margin: auto;
	display: flex;
	font-size: 23px;
	line-height: 1.8;
	text-align: center;
	align-items: center;

}
.responsive_container img{
	margin-left: 20px;
	height: 400px;
}


/*Aniamtion*/

.animation{
	width: 100vw;
	height: 100vh;
	position: relative;
	border-bottom: 1px solid black;
	margin-top: 40px;

}
.animation_content{

	position: absolute;
	top: 0;
	
	
}
.animation_content span{
	font-size: 100px;

}
.animation p{
	font-size: 30px;
}
.animation_content div{
	width: 80%;
	margin: auto;
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;justify-content: center;
}
.animation h1{
	font-size: 40px;
}
canvas{
	height: 100vh;
	width: 100vw;

}

/*Social*/
.social{
	margin-top: 50px;
	margin-bottom: 50px;
}

.social_container{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.social_svg{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.social_svg div{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 3vw;
	
}
.social_container svg{
	height: 15vw;

}
.social_container svg:hover{
	height: 16vw;
}
.social_title span{
	font-size: 5vw;
}

